%h1 Truxi is in Beta

%p Thanks for your interest in Truxi. We're still refining our business relationships with movers and collecting reliable data. In the meantime, please contact movers directly.

%h3 We look forward to simplifying your moving experience soon.

<div id="kickofflabs_embed_form"
data-landing_page_id="5887" 
data-signup_text="To be among the first to know when we launch, please provide your email address:"
data-placeholder_text="Type your email here..."
data-button_text="Subscribe"
data-share_text = "Share our site with your friends!"
data-influenced_count_text="Influenced so far:"
data-button_css_class="button btn btn-primary"
data-input_css_class="input"
data-promote_text="Check this out!"
data-error_message= "There was a problem with your email address!" 
></div>
<script src="//api.kickofflabs.com/embed/v1/embed.js" type="text/javascript"></script>
