<div class="row relative home">
  <div class="hero-unit clearfix">
    <div class="span5">
      <%= image_tag("truck_logo.png", class:'logo') %>
      <h1>Moving Power</h1>
      <h2>The fastest way to find a truck and a helping hand.</h2>
      <p>
        Truxi has ratings and prices from the big moving companies to the guy with a pickup down the street. Choose the service that fits you best.
      </p>
      <p><small>Are you a mover? <%= link_to "Sign up here", '/mover-signup' %>.</small></p>
    </div>

    <div class="span5 home-form">
      <%= render 'move_requests/short_form'  %> 
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h2>How does it work?</h2>
    <ol class="how-it-works">
      <li>
        Search for movers close to you.
      </li>
      <li>
        Pick people to contact.
        <p>Ratings and up-front pricing helps you make a solid, quick decision.</p>
      </li>
      <li>
      Movers accept the job.
      <p>You then confirm your plans and pay for the move</p>
      </li>
    </ol>
  </div>

</div>
